<%- include("partials/head") %>

<h2>Display Student</h2>

<form method="POST" action="/displayStudent">
  <label
    >Roll Number:
    <input name="rollNumber" required />
  </label>
  <button type="submit">Show</button>
</form>

<%- include("partials/footer") %>
