<!DOCTYPE html>
<html>
  <head>
    <title>Student Skillset App</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <header>
      <h1>Student Skillset App</h1>

      <nav>
        <a href="/">Home</a> | <a href="/addStudent">Add</a> |
        <a href="/updateStudent">Update</a> |
        <a href="/deleteStudent">Delete</a> |
        <a href="/displayStudent">Display</a> |
        <a href="/skillStudent">Search By Skill</a> |
        <a href="/displayAll">Day Scholars</a>
      </nav>
    </header>

    <main></main>
  </body>
</html>
